/* FONTS
font-family: 'Inter', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body {
	font-family: 'Inter', sans-serif;
	height: 100vh;
	width: 100vw;
	background: #1d1d1d;
	color: white;
}
/****************************** HEADER **************************/
header {
	/* border: 2px solid red; */
	height: 76px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}
header div {
	width: 100%;
	padding-left: 15px;
	font-weight: bold;
	cursor: pointer;
}
header nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 40px;
}
header nav ul li {
	font-weight: normal;
	color: rgb(255, 255, 255, 0.69);
	cursor: pointer;
}
/****************************** MAIN **************************/
main {
	/* visibility: hidden; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 75vh;
}
/************************* SECTION Left Side  *********************/
section.left-side {
	/* border: 2px solid rgb(255, 238, 0); */
	width: 50%;
	height: 100%;
	padding-top: 50px;
}
section.left-side h1 {
	/* border: 2px solid rgb(255, 238, 0); */
	font-size: 4.5rem;
	font-weight: 700;
	padding-top: 30px;
}
section.left-side h3 {
	/* border: 2px solid #474cfe; */
	color: #474cfe;
	margin: 10px 0;
	font-size: 1.6rem;
}
section.left-side p {
	/* border: 2px solid #fff; */
	font-weight: 300;
	font-size: 0.68rem;
}
/************************* SECTION Right Side *********************/
section.right-side {
	/* border: 2px solid rgb(43, 255, 0); */
	width: 50%;
	height: 100%;
}
section.right-side img {
	/* border: 2px solid rgb(43, 255, 0); */
	object-fit: contain;
	width: 100%;
	height: 100%;
}
/****************************** FOOTER **************************/
footer {
	visibility: hidden;
	background: #000;
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*************************FOOTER Left Side  ********************/
footer_left-side {
	border: 2px solid red;
}
/*************************FOOTER Right Side *********************/
footer_right-side {
	border: 2px solid red;
}
